[include]
    # depend on .gituser that has the definitions for [user]
    path = ~/.gituser

[core]
	excludesfile = ~/.gitignore
	editor = nvim
	ignorecase = false
	fileMode = false
    pager = delta

[alias]
	amend = commit --amend -v -m
	co = checkout
	ci = commit  -m
	ca = commit -a -m
	st = status --short --branch
	br = branch
	branches = "for-each-ref --sort=committerdate --format='%(refname:short) * %(authorname) * %(committerdate:relative)' refs/remotes/ "
	ft = fetch --all --prune
	ls = log --format=format:\"%C(yellow)%h%C(red)%d %C(reset)%s%C(blue) <%an>%C(reset)\"
	graph = log --graph --format=format:\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
	inline = log --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	staged = diff --cached
	tags = log --tags --simplify-by-decoration --pretty=\"format:%h %D\"
	unmerged = ls-files -u
	unstage = reset HEAD --
	conflicts = diff --name-only --diff-filter=U

[push]
	default = current
	recurseSubmodules = on-demand
	autoSetupRemote = true

[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto

[interactive]
    diffFilter = delta --color-only

[delta]
    # use n and N to move between diff sections
    navigate = true
    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    light = false      
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3
	log = 1000

[diff]
    colorMoved = default

[grep]
	lineNumber = true

[help]
	autocorrect = 2

[log]
	decorate = short

[pager]
	show-branch = true
	status = true

[status]
	submodulesummary = true

[submodule]
	recurse = true

[http]
	sslBackend = gnutls
