[core]
	editor = vim
	whitespace = cr-at-eol
	ignorecase = true
	fileMode = false

[alias]
	amend = commit --amend -v -m
	ci = commit -v -m
	ca = !git add -A && git commit -m
	co = checkout
	ft = fetch --all --prune
	graph = log --graph --format=format:\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
	in = log --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	ls = log --format=format:\"%C(yellow)%h%C(red)%d %C(reset)%s%C(blue) <%an>%C(reset)\"
	st = status --short --branch
	staged = diff --cached
	tags = log --tags --simplify-by-decoration --pretty=\"format:%h %D\"
	tagss = log --tags --simplify-by-decoration --pretty=\"format:%aI %Cblue%h %Cgreen%d %Creset%ce - %s\"
	unmerged = ls-files -u
	unstage = reset HEAD --
	conflicts = diff --name-only --diff-filter=U
	branches = "for-each-ref --sort=committerdate --format='%(refname:short) * %(authorname) * %(committerdate:relative)' refs/remotes/ "

[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[color "diff"]
	meta = yellow
	frag = cyan
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[difftool]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[grep]
	lineNumber = true

[help]
	autocorrect = 2

[log]
	decorate = short

[merge]
	log = 1000

[pager]
	show-branch = true
	status = true

[push]
	default = current
	recurseSubmodules = on-demand
	autoSetupRemote = true

[status]
	submodulesummary = true

[submodule]
	recurse = true

[http]
	sslBackend = gnutls
